.pet {
    width: 400px;
}

.circle {
    background-color: var(--color-0CC5BA);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.458);
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.especie,
.nac {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-3b4149);
}

.info {
    border: none;
    background-color: transparent;
    color: var(--color-0CC5BA);
    font-weight: 600;
}

.info:hover {
    color: var(--color-0CC5BA);
    font-weight: 800;
}

