.imgBandera {
  display: block; /* ? Para centrar la imagen horizontalmente */
  max-width: 20%; /* ? Para hacer que la imagen sea responsiva */
  height: auto; /* ? Para mantener la relación de aspecto */
  margin: 0 auto 0.5rem; /* ? Para centrar verticalmente y agregar un pequeño margen inferior */
  border-radius: 5px;
}

.aboutContainer {
  border-radius: 10px;
}

.imgPerfil{
  max-width: 80%;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.458);
}

.name {
  font-weight: 700;
}
  
  