* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}


/*** Colores ***/

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-0CC5BA: #0CC5BA;
  --color-f8f8f8: #f8f8f8;
  --color-777777: #777777;
}

/*** Colores Fin ***/


/** Fondo grisesito de las page **/

.home-wrapper-2 {
  background-color: var(--color-f8f8f8);
}

/** Fondo grisesito termina aqui **/