* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
}

.gap-10 {
  gap: 10;
}

.gap-15 {
  gap: 15;
}

.gap-30 {
  gap: 30;
}


/*** BreadCrump ***/

.breadcrump {
  border-top: 2px solid var(--color-0CC5BA);
}

.link-bc {
  font-weight: 600;
}

/*** BreadCrump end ***/


/*** Colores ***/

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-0CC5BA: #0CC5BA;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
}

/*** Colores Fin ***/

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/*********************** Product Card ***********************/

.product-card {
  width: 300px;
  height: 370px;
  border-radius: 10px;
  background: url(images/logo-bg-product.png) no-repeat 10px;
  background-color: #fff;

}

.product-card > hr {
  background-color: var(--color-0CC5BA);
  height: 3px;
}

.product-cart {
  border: 1px solid black;
}

.product-cart h5 {
  color: var(--color-131921);
  line-height: 20px;
  font-weight: 600;
}

.title {
  font-weight: 600;
}

.price {
  font-weight: 600;
}

.cant {
  width: 60px;
}

.button-delete {
  border: none;
  background-color: transparent;
}

.icon-delete {
  width: 30px;
  height: 30px;
  color: var(--color-0CC5BA);
}
/*********************** Product Card Termina aca ***********************/


/*********************** Tienda  ***********************/

.filter-card {
  background-color: #fff;
  border-radius: 10px;
}

.filter-sort-grid {
  background-color: #fff;
  border-radius: 10px;
}

.button-search {
  border: none;
  width: 70px;
  height: 38px;
  background-color: var(--color-0CC5BA);
  border-radius: 5px;
}



/*********************** Tienda Termina aca ***********************/