.imgBandera {
    display: block; /* ? Para centrar la imagen horizontalmente */
    max-width: 20%; /* ? Para hacer que la imagen sea responsiva */
    height: auto; /* ? Para mantener la relación de aspecto */
    margin: 1rem; /* ? Para centrar verticalmente y agregar un pequeño margen inferior */
    border-radius: 5px;
  }

  