.productCard {
    width: 300px;
    height: 370px;
    border-radius: 10px;
    background: url(images/logo-bg-product.png) no-repeat 10px;
    background-color: #fff;
}

.productCard > h5 {
    font-weight: 700;
}

.productCard > hr {
    opacity: 1;
    background-color: var(--color-0CC5BA);
    height: 2px;
    border: none;
}

.productCart {
    border: 1px solid black;
}

.productCart h5 {
    color: var(--color-131921);
    line-height: 20px;
    font-weight: 600;
}

.title {
    font-weight: 600;
}

.price {
    font-weight: 600;
}

.cant {
    width: 60px;
}

.buttonDelete {
    border: none;
    background-color: transparent;
}

.iconDelete {
    width: 30px;
    height: 30px;
    color: var(--color-0CC5BA);
}