.selectImg {
  border: none;
  font-size: 14px;
  width: auto;
  height: auto;
  padding: 1%;
  font-weight: 600;
  background-color: var(--color-0CC5BA);
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
