.button:not(.collapsed) {
	color: black;
	background: none;
	box-shadow: none;
}

.questionContainer {
	border: 2px solid #0cc5ba !important;
	border-top: 2px solid #0cc5ba;
	border-radius: 10px !important;
}

h1 {
	font-size: 1.5rem;
}
