.button:not(.collapsed) {
	color: var(--body_color);
	background: none;
	box-shadow: none;
}

.questionContainer {
	border: 2px solid #0cc5ba !important;
	border-top: 2px solid #0cc5ba;
	border-radius: 10px !important;
}

.containerFaq {
	border-radius: 10px;
	background-color: var(--body_background);
}

.h1 {
	color: var(--body_color);
}

.button {
	color: var(--body_color) !important;
}

.response {
	color: var(--body_color) !important;
}

