.button {
	background-color: #0cc5ba;
	border: #0cc5ba solid 2px;
	color: black;
}

.contactoContainer div {
	margin: 0 auto;
}

.contact {
	background-color: var(--body_background);
}

.contactoContainer h1 {
	color: var(--body_color);
}

.label {
	color: var(--body_color);
}

.button:hover {
	background-color: white;
	border: #0cc5ba solid 2px;
	color: #0cc5ba;
}

form {
	border-radius: 10px !important;
}

.imageContainer {
	position: relative;
	border: none;
	object-fit: cover;
}

.image {
	height: 100%;
	object-fit: cover;
	position: relative;
	border-radius: 10px;
}
