.modalContainer {
    position: fixed;
    width: 70%;
    height: 75vh;
    top: 15%;
    right: 15%;
    left: 15%;
    z-index: 1000;
    background-color: var(--body_background);
    border-radius: 10px;
    box-shadow: var(--body_boxshadow);
    overflow: auto;
}

.title {
    font-size: 50px;
    font-weight: 600;
    color: var(--body_color);
}

.circle {
    background-color: var(--color-0CC5BA);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    box-shadow: var(--body_boxshadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    font-weight: 600;
    color: var(--body_color);
}

.buttonLink {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--color-0CC5BA);
}

@media screen and (max-width: 700px) {
  .modalContainer {
    padding: 0.5rem !important;
    width: 80%;
    right: 10%;
    left: 10%;
  }
}
