.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #14FF00;
}

.inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B6B6B6;
}

.notifContainer {
    border-bottom: 1px solid var(--color-0CC5BA);
    margin-bottom: 14px;
}