

.container-fluid.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030; 
    background-color: #fff; 
    padding: 1px;
  }
  
.contactLink{
    color: #0CC5BA;
    padding: 1px;
}





/* .footerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    padding: 2px;
    margin: 0 auto;
    bottom: 0;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    z-index: 99;
    background-color: white; 
    border-top: 2px solid #0cc5b982;
}

h1{
    margin-top: 0%;
    justify-content: center;
    align-content: center;
}

.containerRedes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.redesLink{  */
    /* //TODO: ver tamaño */
    /* color: black;
    align-content: center;
    justify-content: space-between;
}

.containerLinks{ */
    /* //TODO: sacar el color del link? */
    /* display: inline-flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 2%;  
    font-weight: bold;
}

.footerLink{
    color: black;
    align-items: center;
}



 */
