.containerReview {
	border-radius: 10px;
}

hr {
	color: #0cc5ba;
}

a,
.span {
	color: #777777;
}

.textReview {
	resize: none;
	height: 6rem;
	border-color: #0cc5ba;
}

.stars span {
	font-size: 2rem !important;
}

@media screen and (max-width: 700px) {
	.containerReview {
		padding: 0 10px !important;
	}
}

@media screen and (max-width: 992px) {
	.containerReview {
		padding: 20px 20px !important;
	}
}