.containerReview {
	border-radius: 10px;
	background-color: var(--body_background);
}

hr {
	color: #0cc5ba;
}

a,
.span {
	color: var(--body_color)
}

.fColor {
	color: var(--body_color);
}

.hr {
	opacity: 1;
}

.textReview {
	resize: none;
	height: 6rem;
}

.stars span {
	font-size: 2rem !important;
}

@media screen and (max-width: 700px) {
	.containerReview {
		padding: 0 10px !important;
	}
}

@media screen and (max-width: 992px) {
	.containerReview {
		padding: 20px 20px !important;
	}
}