.shoppingCart {
	position: fixed;
	z-index: 1000;
	right: 0;
	top: 0%;
	background-color: #fff;
	width: 450px;
	height: 100vh;
	overflow: auto;
	padding: 25px;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	transition: 0.5s all ease-in-out;
}

.show {
	transform: none;
	visibility: visible;
}

.hidden {
	visibility: hidden;
	transform: translateX(500px);
}

.titleCart > h2 {
	font-weight: 700;
}

.cartEmpty > a,
.navlink {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-0CC5BA);
	position: relative;
}

.cartEmpty > a:hover,
.navlink:hover {
	font-weight: 700;
	color: var(--color-0CC5BA);
}

.totalContainer {
	margin-top: 50px;
	border-bottom: 1px solid var(--color-0CC5BA);
}

.total > h6 {
	font-weight: 700;
}

.products {
	position: relative;
	margin-bottom: 150px;
}

.container {
	position: relative;
}

.imgBg {
	position: absolute;
	top: 80%;
	left: 0;
}
