.modalContainer {
    position: fixed;
    max-width: 400px;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--body_background);
    border-radius: 10px;
    box-shadow: var(--body_boxshadow)
}

.title {
    font-size: 16px;
    color: var(--color-0CC5BA);
}

.text {
    font-size: 13px;
}
