input, textarea {
  background-color: var(--body_background) !important;
  color: var(--body_color) !important;
  border: 0.5px solid var(--border_color) !important;
}

textarea {
  resize: none;
  height: 8rem !important;
}

.date {
  text-align: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 4px;
  cursor: default;
}

.errorSpan {
  color: red;
  font-size: 0.8rem;
}

button:disabled {
  color: gray;
}



/*  */

.modalContainer {
  position: fixed;
  width: 800px;
  height: 75vh;
  top: 15%;
  right: 20%;
  z-index: 1000;
  background-color: var(--body_background);
  border-radius: 10px;
  box-shadow: var(--body_boxshadow);
  overflow: auto;
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: var(--body_color);
}

.circle {
  background-color: var(--color-0CC5BA);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  box-shadow: var(--body_boxshadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  font-weight: 600;
  color: var(--body_color);
}

.buttonLink {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--color-0CC5BA);
  margin-top: 1rem;
}
