.h1 {
    color: var(--body_color);
}

.iconProfle {
    width: 40px;
    height: 40px;
}

.buttonCart::after {
	display: none;
}

.imgProfile {
	width: 40px;
	border: 2px solid var(--color-0CC5BA);
}

.bgColor,
.dropDownMenu {
	background-color: var(--body_background);
}

.li {
	color: var(--body_color);
}

.li:hover {
	color: var(--color-0CC5BA);
	background-color: var(--body_background);
}