.modalContainer {
    position: fixed;
    width: 800px;
    height: 500px;
    top: 15%;
    right: 17%;
    z-index: 2000;
    background-color: var(--body_background);
    border-radius: 10px;
    box-shadow: var(--body_boxshadow);
    overflow: auto;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: var(--body_color);
}

.circle {
    background-color: var(--color-0CC5BA);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    box-shadow: var(--body_boxshadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMascota {
  height: 130px;
	width: 130px;
	border-radius: 50%;
	box-shadow: var(--body_boxshadow);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.data {
    font-weight: 600;
    color: var(--body_color);
}

.buttonLink {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--color-0CC5BA);
}

.date {
  width: 100%;
  text-align: center;
  padding: 4px 15px;
  border-radius: 4px;
  cursor: default;
}

.errorSpan {
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

button:disabled {
  color: gray;
}
