.logoContainer h3 {
	font-size: 1.7rem;
	margin-bottom: 0;
	font-weight: 700;
}

nav {
	height: 5rem;
	background-color: #fff;
}

nav a {
	color: black;
	font-size: 1.1rem;
	font-weight: 600;
	text-decoration: none;
}

nav a:hover {
	color: #0cc5ba;
}

.buttonContainer svg {
	font-size: 2rem;
}

.menuButton {
	font-size: 1.5rem;
	display: none;
}

.logo {
	width: 2rem;
}

/* Muestra boton burguer en responsive */
@media screen and (max-width: 992px) {
	.menuButton {
		font-size: 1.5rem;
		display: inline-block;
	}
}
/* Oculta titulo en responsive */
@media screen and (max-width: 700px) {
	.logoContainer h3 {
		display: none;
	}
	.logoContainer {
		margin-left: 0 !important;
	}
}
