.navlink {
	font-size: 1.7rem;
	margin-bottom: 0;
	font-weight: 700;
	cursor: default;
	color: var(--body_color);
	cursor: pointer;
}

.navContainer {
	background-color: transparent;
}

.buttonUser {
	color: var(--body_color);
}

.iconCart {
	color: var(--body_color);
}

nav {
	height: 5rem;
	background-color: var(--body_background);
	transition: all 0.3s ease-in-out;
}

nav a {
	color: var(--body_color);
	font-size: 1.1rem;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	color: #0cc5ba;
}

.buttonContainer svg {
	font-size: 2.4rem;
}

.buttonContainer svg:hover {
	color: #0cc5ba;
}

.buttonContainer a:last-child svg {
	font-size: 2rem;
	text-align: center;
	color: var(--body_background);
	background-color: #0cc5ba;
	border-radius: 50%;
	padding: 3px 5px;
	transition: all 0.3s ease-in-out;
}

.buttonContainer a:last-child svg:hover {
	color: #0cc5ba;
	background-color: transparent;
	border: 2px solid #0cc5ba;
	transition: all 0.3s ease-in-out;
}

.buttonCart {
	padding-right: 10px;
}

.buttonCart::after {
	display: none;
}

.li {
	color: var(--body_color);
}

.li:hover {
	color: #0cc5ba;
	background-color: var(--body_background);
}

.menuButton {
	font-size: 1.5rem;
	display: none;
	color: var(--body_color);
}

.logo {
	width: 3.6rem;
}

.bgColor,
.dropDownMenu {
	background-color: var(--body_background);
}

.imgProfile {
	width: 40px;
	border: 2px solid #0cc5ba;
}

/* Muestra boton burguer en responsive */
@media screen and (max-width: 992px) {
	.menuButton {
		font-size: 1.5rem;
		display: inline-block;
	}
}
/* Oculta titulo en responsive */
@media screen and (max-width: 700px) {
	.logoContainer h3 {
		display: none;
	}
	.logoContainer {
		margin-left: 0 !important;
	}
}
