.buttonGoogle {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none !important;
	color: var(--color-3b4149) !important;
	border: 1px solid black !important;
	border-radius: 4px !important;
	height: 36px;
	overflow: hidden;
}

.container {
	background-color: var(--body_background);
	margin-top: 60px;
	margin-bottom: 60px;
}

.buttonGoogle:hover {
	color: var(--color-0CC5BA) !important;
}

.buttonGoogle span {
  color: black;
}

.link {
	font-weight: bold;
	color: var(--color-0CC5BA);
}

.link:hover {
	color: var(--color-3b4149);
}

.fColor {
	color: var(--body_color);
}

.button:disabled {
  color: gray;
}

.error {
  font-size: 0.8rem;
}

.showPassword {
  position: absolute;
  right: 2rem;
  top: 2.7rem;
  fill: var(--body_color);
}
