.sidebarContainer {
    background-color: var(--body_background);
    height: 100vh;
}

.imgLogo {
    width: 40px;
    height: 40px;
}

.link, 
.h1 {
    color: var(--body_color);
    font-weight: 600;
}

.link:hover,
.button:hover {
    color: var(--color-0CC5BA);
}

.icons {
    width: 25px;
    height: 25px;
    fill: var(--color-0CC5BA);
}

.button {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--body_color);
}
