.serviceCard {
    background-color: #fff;
    border-radius: 10px;
}

.titleContainer > hr {
    opacity: 1;
    background-color: var(--color-0CC5BA);
    height: 2px;
    border: none;
}

.titleContainer > p {
    font-size: 14px;
    text-align: justify;
}

.contactContainer > hr {
    opacity: 1;
    background-color: var(--color-0CC5BA);
    height: 2px;
    border: none;
}

.contactContainer > p {
    font-size: 14px;
    text-align: justify;
}

.subtitle {
    font-size: 16px !important;
    font-weight: 600;
}

