.serviceCard {
    background-color: var(--body_background);
    border-radius: 10px;
}

.titleContainer > hr {
    opacity: 1;
    background-color: var(--color-0CC5BA);
    height: 2px;
    border: none;
}

.titleContainer > p {
    font-size: 14px;
    text-align: justify;
    color: var(--body_color);
}

.titleContainer > h5 {
    color: var(--body_color);
}

.contactContainer > hr {
    opacity: 1;
    background-color: var(--color-0CC5BA);
    height: 2px;
    border: none;
}

.contactContainer > p {
    font-size: 14px;
    text-align: justify;
    color: var(--body_color);
}

.contactContainer > h5 {
    color: var(--body_color);
}

.contactContainer > span {
    color: var(--body_color);
}

.subtitle {
    font-size: 16px !important;
    font-weight: 600;
    color: var(--body_color);
}

.desc > h5 {
    color: var(--body_color);
}

.desc > span {
    color: var(--body_color);
}